.Project{
    min-height: 80vh;
    position: relative;
    top: 15vh;
    margin: 10vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.project h1{
    font-size: 3rem;
}
.Projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Projects> div {
    align-self: center;
    margin: 20px;
    min-width: 310px;
    max-width: 400px;
    max-height: 400px;
    min-height: 310px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #b6effb;
}
.container {
    position: relative;
}

.Projects> div img{
    opacity: 1;
    display: block;
    max-width:100%;
    max-height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.middle {
    transition: .5s ease;
    opacity: 0;
    text-align: center;
}

.container:hover .image {
    opacity: 0.1;
}

.container:hover .middle {
    opacity: 1;
}