
.tittle{
    flex-grow: 8;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.tittle h1{
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}

.tittle h1 span{
    color: red;
}
.links{
    text-align: right;
}

.link {
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    margin-right: 10px;
}
